{% extends 'base.html' %}
{% block titleee %}AboutMePage{% endblock %}
{% block content %}

<h2>About page</h2>
<p>
    Django is one of the Python framework. So it can run python script. Please try the ReqYhaoo page.
    It send request to yahoo.co.jp and scrape the news headlines and its URL, then print out to the page.
</p>
<h5>Very fun.</h5>

<p>Also, super easy to play with Database. No SQL sentence is needed.
    You can try to add card and see the stored cards.
</p>

<h5>Becasue it's Python. Working with Data is easy too! </h5>
<p>Run python script <code> "list(range(11, 1700))"</code> to create a range and print it out as below:</p>
{{list}}
{% endblock %}
